

{% extends 'base.html' %}

{% block title %}
    <title>Criar tarefa</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../static/css/create_task.css">
{% endblock %}

{% block body %}

    <div class="container">

        <!-- Célula -->
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-5">Adicionar nova tarefa</h2>
                <hr>
            </div>
        </div>

        <form autocomplete="off" id="this-form" method="post">
            {% csrf_token %}

            <!-- Célula: Leitor de tela (label-atrib-for) + (input-atrib-id) -->
            <div class="row">
                <div class="col-12">
                    <label class="sr-only" for="task">Adicionar uma nova tarefa</label>
                </div>
            </div>

            <!-- Célula -->
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 text-center">
                    <input type="text" class="form-control mb-2" id="task" name="task" placeholder="Escreva a nova tarefa aqui" required>
                </div>
                <div class="col-3"></div>
            </div>

            <!-- Célula -->
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2 text-center">
                    <input class="btn btn-dark mt-3" type="submit" value="Salvar tarefa">
                </div>
                <div class="col-5"></div>
            </div>

        </form>

    </div>

    <script type="text/javascript" src="../../static/js/create_task.js"></script>
{% endblock %}
