

<table class="table table-dark table-bordered">

    <thead>
        <tr>
            <th class="bg-secondary">Tarefa</th>
            <th class="bg-info">Data de adição</th>
            <th class="bg-primary">Última atualização</th>
            <!-- Add posteriormente -->
            <th class="bg-warning">Ações</th>
        </tr>
    </thead>

    <tbody>
        <!-- user_tasks = UserTasks/context_object_name (views.py) -->
        <!-- task       = cada objeto do modelo "Task" (models.py) -->
        {% for task in user_tasks %}
            <tr>
                <td class="bg-success">{{ task.task }}</td>
                <td>{{ task.created }}</td>
                <td>{{ task.updated }}</td>

                <td>
                    <!-- Sem a configuração feita em (urls.py) essas rotas customizadas não possuem sentido -->
                    <a class="btn btn-primary" href="{% url 'alter-task' task.pk %}">editar</a>
                    <a class="btn btn-danger" href="{% url 'erase-task' task.pk %}">remover</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
