

body {
    background-color: #171A21;
    font-family: consolas;
}

h2 {
    color: #ff4500;
    text-shadow: 0 0 10px #ff4500;
}

hr {
    background-color: #ff4500;
    height: 3px;
    box-shadow: 0 0 50px #ff4500;
    border-radius: 10px;
}
